
body {
    background: rgb(97, 173, 187);
    margin-left: 100px;
    margin-right: 400px;
}

header {
    margin-top: 50px;

}
h1 {
    color: black;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}
